.temperature {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.temperature h2 {
    font-size: 30px;
    margin: 0;
    display: flex;
    align-items: center;
}
.temperature p {
    margin: 0;
    font-size: 18px;
    font-weight: bolder;
}
.therm {
    width: 30px;
    height: 30px;
}
.weatherIcon {
    width: 70px;
    height: 70px;
}

.weather_widget {
    height: max-content;
    color: #61dafb;
    position: absolute;
    top: 25vh;
    right: 10vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(97, 218, 251, 0.5);
    border: 1px solid rgb(97, 218, 251);
    border-radius: 20px
}

select {
    color: #61dafb;
    font-size: 15px;
    font-weight: bolder;
    text-transform: uppercase;
    background: none;
    border: none;
    outline: none;
}
option {
    color: black;
}


@media (max-width: 576px) {

    .therm {
        width: 25px;
        height: 25px;
    }

    .temperature h2 {
        font-size: 25px;
    }

    .weatherIcon {
        width: 45px;
        height: 45px;
    }

    .weather_widget {
        top: 84vh;
        right: 60vw;
    }
}