footer {
    position: relative;
    height: 8%;
    background: #282c34;
    display: flex;
    justify-content: center;
    align-items: center;
}

a {
    cursor: pointer;
    outline: none;
    margin: 0 10px 0 10px;
}
.social {
    color: aquamarine;
    font-size: 40px;
}